
@media screen and (min-width:320px) and (max-width:376px){
    .img-content{
        display: none;
    }
    .text-content{
        width: 100%;
    }
    .text-content h1{
        width: 100%;
        font-size: 18px;
    }
    .p-1{
        display: none;
    }
    .v-1{
        display: none;
    }
    .p-2{
        display: none;
    }
    .v-2{
        display: none;
    }
    footer .logo img{
        width: 120px;
        height: 120px;
    }
    .filter{
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width:376px) and (max-width:426px){
    .img-content{
        display: none;
    }
    .text-content{
        width: 100%;
    }
    .text-content h1{
        width: 100%;
        font-size: 22px;
    }
    .p-1{
        width: 250px;
        height: 250px;
        top: 0px;
        left: 50px;
    }
    .v-1{
        display: none;
    }
    .p-2{
        display: none;
    }
    .v-2{
        display: none;
    }
    footer .logo img{
        width: 120px;
        height: 120px;
    }
}

@media screen and (min-width:426px) and (max-width:768px){
    .img-content{
        display: none;
    }
    .text-content{
        width: 100%;
    }
    .text-content h1{
        width: 100%;
        font-size: 36px;
    }
    .p-1{
        width: 400px;
        height: 400px;
        top: 0px;
        left: 300px;
    }
    .v-1{
        width: 400px;
        height: 400px;
        top: 200px;
        left: 0px;
    }
    .p-2{
        display: none;
    }
    .v-2{
        display: none;
    }
}

/* 
@media (max-width:700px){
    .p-1{
        display: none;
    }
    .text-content h1{
        font-size: 18px;
    }
    .v-1{
        left: 100px;
        top: 50px;
        width: 150px;
        height: 150px;
    }
    #logg{
        display: none;
    }
    
} */

/* @media screen and (min-width:992px) and (max-width:2056px) {

} */


@media screen and (min-width: 769px) and (max-width: 1024px) {
    .img-content{
        display: none;
    }
    .text-content{
        width: 100%;
    }
    .text-content h1{
        width: 100%;
    }
}

@media screen and (min-width:1025px)and(max-width:1440px){
    .img-content img{
        transform: scale(80%);
        margin-top: -120px;
    }
}

@media screen and (min-width:1441px)and(max-width:2560px){
    .text-content{
        margin-top: 70px;
        width: 30%;
    }
    .img-content img{
        transform: scale(80%);
        margin-top: -120px;
    }
}
